:root {
  --offWhite: #EDEDED;
  --brown: #9A8074;
  --darkBrown: #765D51;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  background-color: var(--offWhite);
}

.content-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content{
  width:100%;
  max-width: 800px;
  font-family: sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  /* box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4); */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  padding-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.form-container{
  font-family: sans-serif;

}

.form th, td, table{
  padding: 15px;
  vertical-align: top;
  text-align: left;
  border: 2px #686868 solid;
  border-collapse: collapse;
}

.navBar {
  display: block;
  margin-top: 30px;
}

.formGroup {
  text-align: left;
  display: block;
  justify-items: left;
}

.data {
  text-align: left;
  margin-top: 20px;
  margin-left: 25px;
  color: #ababab;
  font-family: sans-serif;
  width: 100vw;
}

.ContinueButton {
  background-color: var(--brown);
  font-family: sans-serif;
  text-decoration: underline;  
  text-underline-offset: 3px;
  color: var(--offWhite);
  border: none;
  padding: 8px 16px 10px;
  margin: 5px;
  margin-bottom: 50px;
  font-size: 16pt;
  border-radius: 22px;
  position: sticky;
}

.ContinueButton:hover{
  cursor: pointer;
  background-color: var(--darkBrown);
  transition: background-color .25s;
}

.Button {
  background-color: var(--brown);
  font-family: sans-serif;
  text-decoration: underline;  
  text-underline-offset: 3px;
  color: var(--offWhite);
  border: none;
  padding: 8px 16px 10px;
  margin: 5px;
  /* margin-bottom: 50px; */
  font-size: 16pt;
  border-radius: 22px;
  position: sticky;
}

.Button:hover {
  cursor: pointer;
  background-color: var(--darkBrown);
  transition: background-color .25s;
}

.action-button {
  background-color: rgb(239, 239, 239);
  font-family: sans-serif;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: 16pt;
  border-radius: 8px;
}

.action-button:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.action-button:active {
  cursor: pointer;
  background-color: #00ff15;
}

.save-button {
  display: flex;
  flex-direction: column;
}

.timer-time-left {
  text-align: left;
  width: 100%
}

.timer {
  width: 100%;
}

.debug {
  width: 100%;
  justify-content: left;
  text-align: left;
  color: deeppink;
}

.debug-alert-sound p{
  margin: 1px;
  font-family: monospace;
}

.hide-debug {
  height: 15px;
  width: 25px;
  position: absolute;
  left:0;
  top: 0;
}

.hide-debug:hover{
  cursor: pointer;
}
.text-container{
  width: 95%;
  text-align: left;
  padding: 30px;

}

.text-body {
  font-size: 1.25em;
  text-align: left;
  margin: 10px;
}

.text-body strong{
  font-style: italic;
  font-weight: bold;
}

hr {
  border: 3px solid #5F5F5F;
  border-radius: 10px;
  width: 65%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.number {
  color: aquamarine;
  font-size: 1.1em;
  font-style: italic;
}

.example-container {
  width: 100%;
  text-align: center;
}

.example {
  padding: 30px;
  background-color: rgba(0,0,0, .25);
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.wpm-test {
  height: 200px;
}

.danger-button {
  color: black;
  background-color: #ff0020;
}

